.git
.gitignore
.deploy
.env.production
.env.dockerfile
node_modules
dist
.venv
venv
*.log

backend/.venv
backend/db.sqlite3
backend/media
backend/staticfiles
backend/**/__pycache__
backend/**/*.pyc
*/node_modules
*/dist
*/.venv
*/backend/.venv
*/backend/db.sqlite3
*/backend/media
*/backend/staticfiles
*/**/__pycache__
*/**/*.pyc

pakto-pack-joy-main/.git
pakto-pack-joy-main/node_modules
pakto-pack-joy-main/dist
pakto-pack-joy-main/.venv
pakto-pack-joy-main/backend/.venv
pakto-pack-joy-main/backend/db.sqlite3
pakto-pack-joy-main/backend/media
pakto-pack-joy-main/backend/staticfiles
pakto-pack-joy-main/**/__pycache__
pakto-pack-joy-main/**/*.pyc
