[Unit]
Description=Run Majlesyar GeoDNS probe every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s

[Install]
WantedBy=timers.target
