fastapi>=0.115,<1
uvicorn[standard]>=0.34,<1
python-multipart>=0.0.20,<1
omegaconf==2.3.0
Pillow>=10.1,<13
einops>=0.7,<1
transformers>=4.35,<5
trimesh>=4,<5
rembg[gpu]>=2,<3
huggingface-hub>=0.20,<1
xatlas>=0.0.9,<1
moderngl>=5.10,<6
git+https://github.com/tatsy/torchmcubes.git@879926d0ef58e6ce0ac2630fdecb5e53af7ed3ff
